# Logs
logs
*.log

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# ignore .iml and idea files
.idea/*
*.imlgit
*.DS_Store
package-lock.json
node_modules/
